  <h1>Bienvenido a blogs!</h1>

  <form id = "login_form" action = "/login" method = "post">
    <label for = "user">User:</label>
    <input type = "textfield" name = "user" placeholder = "example@ex.com">
    <br><br>
    <label for = "pwd">Password:</label>
    <input type = "password" name = "pwd" placeholder = "**********">
    <br><br>
    <input type = "submit" value = "Log in!">
  </form>
  <br>
  <div id="result"></div>

  <br>
  <span>New user? </span><a href = "/register">Click here.</a>
  

  
