<h1>Sign Up!</h1>

<form id = "register_form" action = "/save_user" method = "post">
  <label for = "name">Name:</label>
  <input type = "textfield" name = "name" placeholder = "Introduce your name">
  <br><br>
  <label for = "email">Email:</label>
  <input type = "textfield" name = "email" placeholder = "Introduce your Email">
  <br><br>
  <label for = "pwd1">Password:</label>
  <input type = "password" name = "pwd1" placeholder = "**********">
  <br><br>
  <label for = "pwd2">Confirm your password:</label>
  <input type = "password" name = "pwd2" placeholder = "**********">
  <br><br>
  <input type = "submit" value = "Sign up!">
</form>
<br>

<div id = "result"></div>